<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel="stylesheet" href="styles/style.min.css">
    <style>
      [v-cloak] {
          display: none;
      }
    </style>
  </head>
  <body>

    <div id="app" v-cloak>

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="./app.html" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="./products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="./past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>
        <a @click="toggleSidebar" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart ({{ totalQuantity }})</span>
        </a>
      </header>

      <main class="wrapper">
        <h1>Products</h1>
        <div class="recommended">
          <products
            v-for="(product, index) in inventory.slice(0,3)"
            :key='product.id'
            class="card"
            :index="index"
            :product="product"
            :add="addToCart"
          />
        </div>
      </main> 

      <sidebar  
        :cart="cart"
        v-if="showsidebar" 
        :toggle="toggleSidebar" 
        :inventory="inventory"
        :remove="removeItem"
        />

    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
